/* #taable { 
    float: left; 
    width: 50%;
    border-width: 50;
    margin-right: 20px;
}
#buutton{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
#conteent { 
    float: right; 
    width: 30%;
    
} 
#footeer {
    margin-top: 120px;
} */


#main_nav{
    position: relative;
    top: 15px;
    margin-top: 14px;
    margin-left: 280px;
}

#main_nav li{
    display: inline;
    padding: 0 8px;
    border-left: 1px dotted #8b261c; 
    position: relative;
    z-index: 2;
}
#main_nav li:first-child, #main_nav ul li{
    border-left: none;
}

#main_nav ul{
    display: none;
    position: absolute;
    top: 19px;
    left: 0;
    z-index: 1;
    width: 75px;
}

#main_nav li a, #main_nav li ul li a{
    color: #8b261c;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.9em;
    font-weight: bold;
    text-decoration: none;
    outline: none;
    padding-bottom: 17px;

}

#main_nav li a:hover, #main_nav li ul a:hover{
    color: blue;    
}

#main_nav li:hover ul{
    display: block;
}